body {
  margin: 0;
  padding: 0;
}

.container {
  width: 1366px;
  max-width: calc(100% - 20px);
  margin: 0 auto;
  padding: 0 10px;
}

.ruby_rooms, .diamond_room{
  display: flex;
}
.rooms{
  background-color:	#181818;
  color:#fff;
  padding: 40px 0;
}
.rooms a{
  color:#ffffff;
  text-decoration:none;
}
.rooms_header{
  text-align: center;
}
.rooms_header h1{
  font-size: 48px;
  font-weight: bold;
  font-family: Calibri;
  font-style: normal;
  text-transform: uppercase;
  margin: 0;
}
.rooms p{
  font-size: 26px;
  font-family: Calibri;
}
.ruby_img{
  width: 831px;
  height: 400px;
background-image: url('assets/ruby-room.png');
background-size:cover;
position: relative;

margin-right:auto;
}
.rooms img:hover{
  transition:2s;
}
.diamond_img{
  width: 831px;
  height: 400px;
  background-image: url(assets/diamond-room.png);
  background-size: cover;
  margin-left: auto;
  transition:2s;
}

.diamond_img:hover{
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  transition:2s;
}
.ruby_rooms{
  margin-top:80px;
}
.ruby_content{
  text-align: left;
  /* width:800px; */
padding: 40px;

}
.diamond_content{
  text-align: right;
  /* width: 800px; */
  padding: 62px 59px 62px;
}


.rooms h4{
  margin:0;
  line-height: 37px;
  font-size:36px;
  text-transform: uppercase;
}
.plan_per_night{
  font-weight: bold;
font-size: 36px;
line-height: 44px;
}

.rooms .button{
  background: #D66939;
border: 1px solid #000000;
box-sizing: border-box;
padding:15px 32px;
font-weight: bold;
color:#000000;
text-decoration: none;
}
.rooms .button:hover{
  color:#ffffff;
  transition: 2s;
}
.text-right{
  text-align:right;
}
.icon img{
  width: 52px;
  margin-right: 12px;
  position: relative;
  top: 7px;
}
@media(max-width:1200px){
  .ruby_img{
    width:100%;
    height: 300px;
    background-size: cover;
  }
  .diamond_img{
    width:100%;
    height: 300px;
    background-size: cover;
  }
  .ruby_rooms, .diamond_room{
    flex-direction: column;
  }
  .ruby_content, .diamond_content{
    text-align: left;
  padding: 20px 0px;
  /* width:100%; */
  
  }
}