*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2em;
  color: #2c2c2c;
  font-size: 1.6rem;
}

.container {
  width: 1366px;
  max-width: calc(100% - 20px);
  margin: 0 auto;
  padding: 0 1rem;
}

/* style for room section*/

.ruby_rooms,
.diamond_room {
  display: flex;
}
.rooms {
  background-color: #2c2c2c;
  color: #fff;
  padding: 40px 0;
}
.rooms a {
  color: #ffffff;
  text-decoration: none;
}
.rooms_header {
  text-align: center;
}
.rooms_header h1 {
  font-size: 40px;
  font-weight: bold;

  font-style: normal;
  text-transform: uppercase;
  margin: 0;
}
.rooms p {
  font-size: 26px;
}
.ruby_img {
  width: 831px;
  height: 400px;
  background-image: url("assets/ruby-room.png");
  background-size: cover;
  position: relative;
  transition: 2s;
  margin-right: auto;
}
.ruby_img:hover {
  transition: 2s;
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
.diamond_img {
  width: 831px;
  height: 400px;
  background-image: url(assets/diamond-room.png);
  background-size: cover;
  margin-left: auto;
  transition: 2s;
}

.diamond_img:hover {
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  transition: 2s;
}
.ruby_rooms {
  margin-top: 80px;
}
.ruby_content {
  text-align: left;
  /* width:800px; */
  padding: 40px;
}
.diamond_content {
  text-align: right;
  /* width: 800px; */
  padding: 62px 59px 62px;
}

.ml-auto {
  margin-left: auto;
}
.rooms h4 {
  margin: 0;
  line-height: 37px;
  font-size: 36px;
  text-transform: uppercase;
}
.plan_per_night {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
}

.rooms .button {
  background: #d66939;
  border: 1px solid #2c2c2c;
  box-sizing: border-box;
  padding: 15px 32px;
  font-weight: bold;
  color: #2c2c2c;
  text-decoration: none;
  width: max-content;
}
.rooms .button:hover {
  color: #ffffff;
  transition: 2s;
}
.text-right {
  text-align: right;
}
.icon-next {
  margin-bottom: 12px;
}
.icon-next img {
  width: 52px;
  margin-right: 12px;
  position: relative;
  top: 7px;
}

.button a {
  color: #2c2c2c;
}
.button a:hover {
  transform: scaleY(1.1);
  transition: 2s;
  color: #fff;
}
@media (max-width: 700px) {
  .ruby_img {
    width: 100%;
    height: 300px;
    background-size: cover;
  }
  .diamond_img {
    width: 100%;
    height: 300px;
    background-size: cover;
  }
  .ruby_rooms,
  .diamond_room {
    flex-direction: column;
  }
  .ruby_content,
  .diamond_content {
    text-align: center;
    padding: 20px 0px;
    /* width:100%; */
  }
  .rooms .button {
    margin: auto;
  }
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  opacity: 0.7;
}

.header p {
  margin: 10px;
}

.right {
  display: flex;
  justify-content: space-between;
}

.right img {
  width: 2rem;
}

/* Header Ends Here */

/* Facilities section */
.facilities {
  margin: 5rem auto;
}

.heading {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
  color: rgb(65, 62, 62);
}

.paragraph {
  color: rgb(78, 77, 77);
  text-align: center;
}

.facility_name {
  color: black;
  margin: 10px 0;
}

.facilities_list ul {
  padding: 0;
  list-style: none;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.facilities-image {
  width: 100%;
}

.facilities_list ul li {
  width: 400px;
  margin: 15px 5px;
  text-align: center;
}

.facility_name {
  font-weight: 550;
  color: rgb(65, 62, 62);
}

.facility_desc {
  margin: 5px 0;
  color: rgb(78, 77, 77);
  font-weight: 500;
}

.button {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.btn {
  margin: 0 auto;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 3px;
  transition: all 0.3s;
  font-weight: bold;
}

.btn_small {
  padding: 10px 30px;
  display: inline-block;
  margin-top: 15px;
  height: 55px;
  width: 20rem;
}
.btn_large {
  height: 8rem;
  width: 36rem;
}
.btn--primary {
  background: #d66439;
  color: #2c2c2c;
}
.btn--secondary {
  color: #d66939;
  background-color: #fff;
}

.btn--primary:hover {
  cursor: pointer;
  transform: scaleY(1.1);
}
.btn--secondary:hover {
  background-color: transparent;
  color: #ffffff;
  border: 3px solid white;
}

@media screen and (max-width: 600px) {
  .facilities_list ul {
    flex-direction: column;
    align-items: center;
  }
  .facilities_list ul li {
    width: 30rem;
    text-align: center;
  }
  .facilities {
    width: 30rem;
    margin: auto;
    text-align: center;
  }

  .browse-button {
    width: 17rem;
    height: 10rem;
  }
  .facilities-image {
    width: 100%;
  }
}

/* About us section */

.about-us {
  text-align: center;
  padding: 5rem;
}

.about-us h1 {
  font-size: 40px;
  font-weight: bold;

  font-style: normal;
  text-transform: uppercase;
  margin: 0;
}

.about-us p {
  font-size: 1.5em;
}

.about-us .button {
  background: #d66939;
  border: 1px solid #2c2c2c;
  box-sizing: border-box;
  padding: 15px 32px;
  font-weight: bold;
  color: #2c2c2c;
  text-decoration: none;
  width: max-content;
  margin: 2em auto;
}

.about-us .button a {
  text-decoration: none;
  text-align: center;
}

/* End of facilities section */

/* contact us section */
.form_wrapper {
  background-color: #d66939;
  padding: 5rem;
}

.form_wrapper h2 {
  font-weight: 600;
  font-size: 3.5rem;
  color: #fff;
  margin: 3rem 0;
}

.form-control:first-child {
  margin-bottom: 4rem;
}

.input {
  width: 40rem;
  padding: 4px 20px;
  height: 60px;
  border: #f5f5f5 5px solid;
  background: none;
  border: 3px solid #ffffff;
  color: #fff;
  outline: none;
}

.input::placeholder {
  color: #fff;
}

.input:focus {
  outline-color: none;
}

@media (max-width: 500px) {
  .form_wrapper {
    padding: 5rem 2rem;
  }
  .form input {
    width: 30rem;
  }
  .ruby_content,
  .diamond_content {
    text-align: center;
    padding: 20px 0px;
    /* width:100%; */
  }
  .rooms .button {
    margin: auto;
  }
}

/*This is the code for FOOTER SECTION*/
/* .column{
	float: left;
	width: 50%;
}
.row::after {
	content: "";
	display: table;
	clear: both;
} */

.row {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  flex-flow: row wrap;
}

.column ul {
  padding: 0;
  margin: 0;
}

#ft {
  background-color: #ffffff;
  padding-top: 20px;
  padding-left: 10px;
  border-radius: 20px;
  /*color: #2C2C2C;
	font-family: calibri;*/
}

.footer {
  height: 100px;
  font-family: calibri;
  color: #2c2c2c;
  font-weight: bolder;
  box-sizing: border-box;
}

.footer .img {
  padding-right: 5px;
}

.footer span {
  color: #d66939;
  font-size: 20px;
}

.footer a {
  display: inline-block;
  text-decoration: none;
}

.footer li {
  text-decoration: none;
  display: block;
  list-style-type: none;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    text-align: center;
  }
}
